<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631555943162-i4t47qjid6np7dh3ic8ov8flh0cchqu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631555943162-i4t47qjid6np7dh3ic8ov8flh0cchqu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDAe1XPn0GpOUlQiGwG8JG9qLaoPm9wjlk</string>
	<key>GCM_SENDER_ID</key>
	<string>631555943162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpeedScoreTrack</string>
	<key>PROJECT_ID</key>
	<string>speedscore-track</string>
	<key>STORAGE_BUCKET</key>
	<string>speedscore-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631555943162:ios:b3fcfde7d26c0d2d</string>
	<key>DATABASE_URL</key>
	<string>https://speedscore-track.firebaseio.com</string>
</dict>
</plist>